html{
  scrollbar-color: rgb(156, 163, 175) transparent;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.App {
  text-align: center;
  font-family: 'Inter', 'sans-serif'
}

.title {
  font-weight: 600;
  font-size: 52px;
}

p {
  font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body{
  overflow-x:hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media only screen and (max-width: 500px) {
  h1{
    font-size: 10px;
  }
  p {
    font-size: 14px;
  }
}